[submodule "liblist"]
	path = liblist
	url = https://github.com/derekchuank/liblist
[submodule "librdp"]
	path = librdp
	url = https://github.com/derekchuank/librdp
[submodule "libdict"]
	path = libdict
	url = git@github.com:derekchuank/libdict
